{% extends 'base.html' %}

{% block content %}
<div class="about-section">
    <h1>Sobre Mí</h1>
    <p>Mi nombre es Ian Contreras, y soy un estudiante de 19 años de la República Dominicana. Actualmente estudio economía en Santo Domingo.</p>
    <p>Aprendí a programar en Python en este curso, aunque he tenido experiencias previas utilizando inteligencia artificial para ayudarme a programar. Gracias a Coder House, ahora puedo escribir código por mi cuenta para la mayoría de las aplicaciones básicas.</p>
</div>
{% endblock %}
