{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">record</th>
      <th scope="col">sales_member</th>
      <th scope="col">priority</th>
      <th scope="col">status</th>
      <th scope="col">notes</th>
    </tr>
  </thead>
  <tbody>
    
{% if leads %}
	{% for lead in leads %}
		<tr>
			<td>{{ lead.record }}</td>
			<td>{{ lead.sales_member }}</td>
			<td>{{ lead.priority }}</td>
			<td>{{ lead.status }}</td>
			<td>{{ lead.notes }}</td>
			<td><a href="{% url 'record' lead.record.id %}">{{ lead.record.id }}</a></td>
		</tr>
	{% endfor %}
{% endif %}
{% endblock %}
